body{
	font-size: 20px;
}

.background-image-filter{
	z-index: -10;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.background-image-1{
	background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),url("../img/Rutgers_University.jpg") fixed;
	background-position: center 40%;
}

.background-image-2{
	background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),url("../img/new_york_park_blur.jpg") fixed;
}

.background-image-3{
	background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),url("../img/hacker_term.jpg") fixed;
}

.background-image-4{
	background: linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)),url("../img/lets_get_in_touch.jpg") fixed;
}

.header{
	color: white;
	text-align: center;
}

.header h1 {
	margin-bottom: 5%;	
	font-size: 50px;
}

.header h4{
	margin-top: 20%;
	margin-bottom: 3%;	
}

.landing-container{
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: inline-block;
}

.landing-footer{
	z-index:2;
	text-align: center;
	color: white;
	font-size: 80;
	width: 100%;
	height:10%
}

.text-region-header{
	font-family: Helvetica;
	text-align: center;
	color: white;
	padding-top: 15%;
	padding-bottom: 5%;
}

.text-region{
	padding-left: 10%;
	padding-right:10%;
	width: 100%;
	margin-top: 10%;
	text-align: center;
}

.text-region img{
	width: 20%;
	border-radius: 50%;
	border-style: solid;
	border-color: #858585;
	border-width:5px;
	text-align: center;
	margin-top: 2%;
}

.text-region h1{
	margin-bottom: 3%;
}


.text-region p{
	margin-top: 2%;
	margin-bottom 2%
}

.text-region.work-logo{
	margin-left: 5%;
	border-radius: 25px;	
}


.light-region{
	background-color: #FFFFFF;
	color:#333333;
}

.dark-region{
	background-color:#333333;
	color:#f2f2f2;
}

/* 
 * - Must come after text-region; this ensures that top-region can be applied
 * 	 along side text-region
 */
.top-region{
	margin-top:0%;
}



