html, body{
    overflow-x: hidden;
    white-space: nowrap;
    font-family: "Aleo", sans-serif;
    background-color: #ffb6c1;

    animation: background 5s infinite;
}

@keyframes background{
    from{background-color: #ffb6c1;}
    to{background-color: #ff6a80;}
}

img{
    margin-left: -470px;
    height: 1300px;
    width: 900px;
    display: block;
}


.start{
    padding-top: 40%;
    font-size: 100px;
}

.me{
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    box-shadow: #FFB6C1;
}
.right-msg{
    padding-bottom: 200px;
    font-size: 50px;
}
