canvas{
    background-color: #dd2176;
    margin-bottom: 20px;
}


@media screen and (max-width: 1080px){
    canvas{
        background-color: #E50053;
        margin: 0;
        padding: 0;
    }
}
